<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710926427099-7m73it0ln9p4sfgmeq56c96tir5anhsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710926427099-7m73it0ln9p4sfgmeq56c96tir5anhsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCSBe4Aps0WAuCPirq9HvLg5r0HsED4dMo</string>
	<key>GCM_SENDER_ID</key>
	<string>710926427099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-flutter-25d71</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-flutter-25d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710926427099:ios:ff38fe5256fdd23bf1bdfe</string>
</dict>
</plist>